.box {
	-webkit-box-shadow: 0px 0px 16px rgb(192, 192, 192);
	-moz-box-shadow:    0px 0px 16px rgb(192, 192, 192);
	box-shadow:         0px 0px 16px rgb(192, 192, 192);
	
	padding: 0;
	position: absolute;
	left: 50%;
	top: 100px;
}

.box .header {
	height: 56px;
	font-family: Verdana;
	font-size: 18px;
	line-height: 56px;
	text-align: center;
	color: #fff;
	
	background: url("/images/gradient-blue.png") repeat-x;
	border: 1px solid #00008C;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.box .footer {
	height: 48px;
	background: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: right;
	
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}