.login {
	width: 400px;
	margin-left: -200px;
}

.login .notice, .login .content, .login .footer {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 24px 34px;
}

.login .notice {
	border-bottom: 1px solid #ddd;
}

.login .content {
	padding-top: 40px;
}
