.survey {
	width: 800px;
	margin-left: -400px;
}

.survey .notice, .survey .content, .survey .footer {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 24px 34px;
}

.survey .notice {
	border-bottom: 1px solid #ddd;
}

.survey .content {
	padding-top: 40px;
}
